<!DOCTYPE html>
<html xmlns:th="http://thymeleft.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>EventosApp</title>
</head>      
	<body>
		<h1>Cadastro de Eventos</h1>
		<form method="post">
            Nome: <input type="text" value="" name="nome" requerid="requerid"/>
			Local: <input type="text" value="" name="local" requerid="requerid"/>
			Data: <input type="date" value="" name="data" requerid="requerid"/>
			Horario: <input type="text" value="" name="horario" requerid="requerid"/>
			
			<button type="submit">Salvar</button> 		
		</form>
	</body>      
</html>
